[submodule "stitch"]
	path = stitch
	url = https://github.com/mlb2251/stitch.git
	branch = main
	shallow = true
[submodule "stitch_experiments"]
	path = stitch_experiments
	url = https://github.com/mlb2251/stitch.git
	branch = experiments
	shallow = true
[submodule "stitch_ablations"]
	path = stitch_ablations
	url = https://github.com/mlb2251/stitch.git
	branch = ablation_experiments
	shallow = true
[submodule "pystitch"]
	path = pystitch
	url = https://github.com/ellisk42/ec.git
	branch = pystitch-artifact
	shallow = true
